<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-y:auto;">
<head>


	<link rel="stylesheet" href="/js/jquery-ui-1.12.1/jquery-ui.min.css?ver=3">
	<script src="https://code.jquery.com/jquery-1.12.4.js?ver=3"></script>
	<script src="/js/jquery-ui-1.12.1/jquery-ui.min.js?ver=3"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8?ver=3">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi?ver=3">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MAMS Myanmar Asset Management System</title>
	<link rel="stylesheet" href="/css/MCH/font.css" type="text/css" />
	<link rel="stylesheet" href="/css/MCH/common.css" type="text/css" />
	<link rel="stylesheet" href="/css/MCH/layout.css" type="text/css" />
	<link rel="stylesheet" href="/css/MCH/style.css" type="text/css" />
	<link rel="stylesheet" href="/common/css/jquery-ui.css?ver=3" type="text/css" />


	<script type="text/javascript" src="/js2/jquery-3.3.1.min.js?ver=3"></script>

	<script type="text/javascript" src="/js2/jquery-1.10.2.min.js?ver=3"></script>

	<script type="text/javascript" src="/common/js/jquery-ui-1.8.23.custom.min.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/jquery.tmpl.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/jquery.form.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/jquery.DOMWindow.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/link.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/jkds.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/patch_flash_tran.js?ver=3"></script>
	<script type="text/javascript" src="/common/js/AC_RunActiveContent.js?ver=3"></script>
	<!-- <script type="text/javascript" src="/common/js/Calendar.js" ></script> -->
	<script type="text/javascript" src="/common/js/makeDiv.js"></script><link type="text/css" rel="stylesheet">



	<script type="text/javascript">

		$(document).ready(function() {
			$("#LARGE_SEQ").change(function() {	//사용자가 Classification 영역 selectBox를 변경할 경우
				var target = document.getElementById("LARGE_SEQ");
				var text22 = target.options[target.selectedIndex].text;
				$("#FIELD_CODE_NM").val(text22);
				/* console.log('셀렉트 박스 변경되었습니다')
                $("#CODE_TITLE").val(text22); */
			});
			if($("#FIELD_CODE_NM option:selected").text()){
			}
		});
	</script>

</head>
<!-- 메인화면 -->
<body><div id="divpop" style="z-index:150; position:absolute; display:none;" onmousedown="ddInit()" onmousemove="dd()" onmouseup="stopdrag()">
	<div style="position:absolute; top:0px; left:0px; width:100%; height:38px;">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" background="/images/common/pop_top_bg2.gif">
			<tbody><tr>
				<td width="120"><img id="popTitle" src=""></td>
				<td class="menu1"><span id="textTitle"></span>&nbsp;</td>
				<td width="40" align="center" background="/images/common/pop_top_bg2.gif"><input type="button" value="X" onclick="noCheck2()" style="width:20px"></td>
			</tr>
			</tbody></table>
	</div>
	<iframe src="" height="38" width="100%" frameborder="0" scrolling="no"></iframe>
	<div id="dwindowcontent" style="height:100%">
		<iframe name="fr01" src="" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>
	</div>
</div>

<!-- <script type="text/javascript" src="/common/cab/InnoFD.js" ></script> -->
<script type="text/javascript" src="/common/js/default.js?ver=3"></script>
<script type="text/javascript" src="/common/js/tree.js?ver=3"></script>
<script type="text/javascript" src="/common/js/sortTable.js?ver=3"></script>
<script type="text/javascript" src="/common/js/commonCode.js?ver=3"></script>

<script type="text/javascript" src="/imageViewer/ZoomifyImageViewerPro-min.js?ver=3"></script>
<script type="text/javascript" src="/js2/common.js?ver=3"></script>






<script type="text/javascript" src="/js2/board/BoardViewN.js?version=20191111"></script>

<script type="text/javascript" src="/common/js/jcalendar.js?ver=3"></script>
<script type="text/javascript" src="/common/js/flowplayer-3.2.6.min.js?ver=3"></script>


<!-- <script type="text/javascript" src="/js/jquery.mb.browser.min.js"></script>
<script type="text/javascript" src="/js/jquery.printElement.min.js"></script> -->


<script type="text/javascript"></script>
<link rel="stylesheet" href="/js/bxslider/dist/jquery.bxslider.css?ver=3">
<script src="/js/bxslider/dist/jquery.bxslider.min.js?ver=3"></script>


<script type="text/javascript" src="/js2/cmm/inc/Inc.js?ver=3"></script>

<script>
	$(document).ready(function() {
		$("#MUSEUM_SEQ").css("display","none");

		$("#CITY_SEQ").change(function() {
			var city = $("#CITY_SEQ option:selected").text();

			$(".Yangon").css("display","none");
			$(".Mandalay").css("display","none");
			$(".Bago").css("display","none");
			$(".Mon").css("display","none");
			$(".Sagaing").css("display","none");
			$(".Magway").css("display","none");
			$(".Kayin").css("display","none");
			$(".Kachin").css("display","none");
			$(".Tanintharyi").css("display","none");
			$(".Ayeyarwady").css("display","none");
			$(".Rakhine").css("display","none");
			$(".Shan").css("display","none");
			$(".Chin").css("display","none");
			$(".Kayah").css("display","none");
			$(".Naypyitaw").css("display","none");
			$(".Nationwide").css("display","none");

			if (city == "Yangon")
			{
				$(".Yangon").css("display","block");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Mandalay")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","block");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Bago")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","block");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Mon")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","block");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Sagaing")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","block");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Magway")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","block");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Kayin")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","block");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Kachin")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","block");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Tanintharyi")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","block");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Ayeyarwady")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","block");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Rakhine")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","block");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Shan")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","block");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Chin")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","block");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Kayah")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","block");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Naypyitaw")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","block");
				$(".Nationwide").css("display","none");
				$("#MUSEUM_SEQ").css("display","block");
			}
			if (city == "Nationwide")
			{
				$(".Yangon").css("display","none");
				$(".Mandalay").css("display","none");
				$(".Bago").css("display","none");
				$(".Mon").css("display","none");
				$(".Sagaing").css("display","none");
				$(".Magway").css("display","none");
				$(".Kayin").css("display","none");
				$(".Kachin").css("display","none");
				$(".Tanintharyi").css("display","none");
				$(".Ayeyarwady").css("display","none");
				$(".Rakhine").css("display","none");
				$(".Shan").css("display","none");
				$(".Chin").css("display","none");
				$(".Kayah").css("display","none");
				$(".Naypyitaw").css("display","none");
				$(".Nationwide").css("display","block");
				$("#MUSEUM_SEQ").css("display","block");
			}
		})
	});
</script>

<script>
	$(document).ready(function() {

		$("#MEDIUM_SEQ").css("display","none");
		$("#SMALL_SEQ").css("display","none");
		$("#SUB_SEQ").css("display","none");

		$("#LARGE_SEQ").change(function() {	//사용자가 Classification 영역 selectBox를 변경할 경우
			var lar = $("#LARGE_SEQ option:selected").text();

				$(".Archaeological").css("display","none");
				$(".World").css("display","none");
				$(".Museum").css("display","none");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","none");
				$(".National").css("display","none");


			if (lar == "Archaeological Site")
			{
				$(".Archaeological").css("display","block");
				$(".World").css("display","none");
				$(".Museum").css("display","none");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","none");
				$(".National").css("display","none");
				$("#MEDIUM_SEQ").css("display","block");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
			if (lar == "World Heritage Site")
			{
				$(".Archaeological").css("display","none");
				$(".World").css("display","block");
				$(".Museum").css("display","none");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","none");
				$(".National").css("display","none");
				$("#MEDIUM_SEQ").css("display","block");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
			if (lar == "Museum")
			{
				$(".Archaeological").css("display","none");
				$(".World").css("display","none");
				$(".Museum").css("display","block");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","none");
				$(".National").css("display","none");
				$("#MEDIUM_SEQ").css("display","block");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
			if (lar == "ICH")
			{
				$(".Archaeological").css("display","none");
				$(".World").css("display","none");
				$(".Museum").css("display","none");
				$(".ICH").css("display","block");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","none");
				$(".National").css("display","none");
				$("#MEDIUM_SEQ").css("display","block");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
			if (lar == "Colonial Building")
			{
				$(".Archaeological").css("display","none");
				$(".World").css("display","none");
				$(".Museum").css("display","none");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","block");
				$(".Memorial").css("display","none");
				$(".National").css("display","none");
				$("#MEDIUM_SEQ").css("display","block");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
			if (lar == "Memorial of The World")
			{
				$(".Archaeological").css("display","none");
				$(".World").css("display","none");
				$(".Museum").css("display","none");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","block");
				$(".National").css("display","none");
				$("#MEDIUM_SEQ").css("display","block");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
			if (lar == "National Library")
			{
				$(".Archaeological").css("display","none");
				$(".World").css("display","none");
				$(".Museum").css("display","none");
				$(".ICH").css("display","none");
				$(".Colonial").css("display","none");
				$(".Memorial").css("display","none");
				$(".National").css("display","block");
				$("#MEDIUM_SEQ").css("display","none");
				$("#SMALL_SEQ").css("display","none");
				$("#SUB_SEQ").css("display","none");
			}
		})
		$("#MEDIUM_SEQ").change(function() {
			var lar = $("#LARGE_SEQ option:selected").text();
			var med = $("#MEDIUM_SEQ option:selected").text();
			$(".small").css("display","none");

			if (med == "National Museum")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".National").css("display","block");
			}
			if (med == "Cultural Museum")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Cultural").css("display","block");
			}
			if (med == "Archaeological_Museum")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Archaeological_Museum").css("display","block");
			}
			if (med == "Buddha_Museum")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Buddha_Museum").css("display","block");
			}
			if (med == "Memorial_Museum")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Memorial_Museum").css("display","block");
			}
			if (med == "Others")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Others").css("display","block");
			}
			if (med == "Oraltraditions and Expression")
			{
				$(".Oraltraditions").css("display","block");
			}
			if (med == "Performing Arts")
			{
				$(".Performing").css("display","block");
			}
			if (med == "Social Practices, Rituals and Festivals")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Social").css("display","block");
			}
			if (med == "Knowledge and Practices concerning Nature and the Universe")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Knowledge").css("display","block");
			}
			if (med == "Traditional_Craftsmanship")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Traditional_Craftsmanship").css("display","block");
			}
			if (med == "Administractive")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Administractive").css("display","block");
			}
			if (med == "Social Practices, Rituals and Festive Events")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Social").css("display","block");
			}
			if (med == "Religious")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Religious").css("display","block");
			}
			if (med == "Infrastructurep")
			{
				$("#SMALL_SEQ").css("display","block");
				$(".Infrastructure").css("display","block");
			}

		})
		$("#SMALL_SEQ").change(function() {
			var sml = $("#SMALL_SEQ option:selected").text();
			$(".Sub_Section").css("display","none");

			$(".Painting").css("display","none");
			$(".Sculpture").css("display","none");
			$(".Relief").css("display","none");
			$(".Pottery").css("display","none");
			$(".Stone").css("display","none");
			$(".Records").css("display","none");

			if (sml == "Painting")
			{
				$(".Painting").css("display","block");
				$("#SUB_SEQ").css("display","block");

			}
			if (sml == "Sculpture")
			{
				$(".Sculpture").css("display","block");
				$("#SUB_SEQ").css("display","block");
			}
			if (sml == "Relief")
			{
				$(".Relief").css("display","block");
				$("#SUB_SEQ").css("display","block");
			}
			if (sml == "Pottery")
			{
				$(".Pottery").css("display","block");
				$("#SUB_SEQ").css("display","block");
			}
			if (sml == "Stone")
			{
				$(".Stone").css("display","block");
				$("#SUB_SEQ").css("display","block");
			}
			if (sml == "Records")
			{
				$(".Records").css("display","block");
				$("#SUB_SEQ").css("display","block");
			}
			if (sml == "Paper")
			{
				$(".Paper").css("display","block");
				$("#SUB_SEQ").css("display","block");
			}


		})
	});
</script>

<!-- 미얀마어 메인페이지 -->
<div id="header">
	<div class="top">
		<div>
			<a href="" class="logo"><img src="/MCHMS/mams/mchms_logo_small.svg" alt="MCHMS"  width="35px;" height="35px;"></a>
			<div>
				<!--
                <div id="TOP_MUESUM" class="select">
                <a href="#a"><span> Business management</span></a>
                <div id="TOP_MUESUM_CODE"></div>-->
				<form id="museumForm" name="museumForm" method="post" >
					<input type="hidden" name="TOP_MUESUM_CODE" value="" />
					<input type="hidden" name="TOP_MUESUM_NAME" value="" />
				</form>
				<!-- </div> -->




				<div th:if="${session.value == null}">
					<select id="SLT_USER_LANG" name="USER_LANG" onchange="selectUserLang();">
						<option value="EN">English</option>
						<option value="MY">မြန်မာ</option>
					</select>
					<a href="/MCHMSLogin" class="btnLogout on" style="margin-left: 13px;" ><span id="spanLogout">Login</span></a>
				</div>
				<div th:unless="${session.value == null}">
					<a href="/Mypage" class="MyPage">MY PAGE</a>
					<span class="info" id="spanWelcome" th:text="|Welcome to ${session.id}|"></span>&nbsp;
					<select id="SLT_USER_LANG" name="USER_LANG" onchange="selectUserLang();">
						<option value="EN">English</option>
						<option value="MY">မြန်မာ</option>
					</select>
					<a href="/MCHMSLogout" class="btnLogout on"style="margin-left: 13px;" ><span id="spanLogout">Logout</span></a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div>
			<h1>
				<a href=""><img src="/MCHMS/mams/mchms_logo_02.svg" alt="MAMS Myanmar Asset Management System"></a>
			</h1>
			<form action = "/MCHMSSearch_process/" method = "post" enctype="multipart/form-data" id="AdvsearchFrom" name="AdvsearchFrom">
				<input type="hidden" id="SRCH_MODE" name="SRCH_MODE">
				<input type="hidden" id="SELECT_DEPTH" name="SELECT_DEPTH">
				<input type="hidden" id="StrMODE" name="StrMODE" value="MORE">
				<input type="hidden" id="TSSEARCH" name="USER_TSGROUP_CODE" value="PS01001001_000000013">
				<input type="hidden" id="USER_TSGROUP_CODE" name="USER_TSGROUP_CODE" value="PS01001001_000000013">
				<input type="hidden" id="USER_LGROUP_CODE_SEQ" name="USER_LGROUP_CODE_SEQ" value="20190730193223383814_000000102">
				<input type="hidden" id="STR_TOP_SEARCH_MUESUM_CODE" name="STR_TOP_SEARCH_MUESUM_CODE" value="">

				<!-- isKang 추가 190628 -->
				<input type="hidden" name="LANG" value="EN">
				<input type="hidden" id="STR_SRCH_MUESUM_CODE" name="STR_SRCH_MUESUM_CODE" value="">


				<div class="searchBox">
					<input type="text" id="TOP_TOPWORD" name="TOP_TOPWORD" onkeypress="speCharBlock(this)" value="">
					<a href="#" onclick="Search();" class="serch_icon"><img src="/MCHMS/mams/serch_icon_06.svg" alt="Search Btn" style="height: 22px;">Search</a>
					<script>

					function Search() {
						SearchKey = $("#TOP_TOPWORD").val();

						var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi
						str = SearchKey.replace(regExp,"");
						if(str == ""){
							path = "/MCHMSSearch/?&Keyword=" + SearchKey;


							window.location.href = path;
						}else if(str.length < 2) {
							alert("검색어를 두 글자 이상으로 입력해 주세요.");

						}else{
							var ESearchKey = encodeURI(SearchKey);

							path = "/MCHMSSearch/?&Keyword=" + ESearchKey;


							window.location.href = path;
						}
					}
					$('#TOP_TOPWORD').keypress(function(event){
						if ( event.which == 13 ) {
							Search();
							return false;
						}
					});
					</script>

					<a href="#layerPopup" class="btnSearch"><img src="/MCHMS/mams/serch_icon_07.svg" alt="" style="height: 22px;">Advanced</a>
					<script>
						$('.btnSearch').click(function(){
							var $href = $(this).attr('href');
							layer_popup($href);
						});
						function layer_popup(el){

							var $el = $(el);        //레이어의 id를 $el 변수에 저장
							var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

							isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

							var $elWidth = ~~($el.outerWidth()),
							$elHeight = ~~($el.outerHeight()),
							docWidth = $(document).width(),
							docHeight = $(document).height();


							$el.find('a.btn-layerClose').click(function(){
								isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
								return false;
							});

							$('.layer .dimBg').click(function(){
								$('.dim-layer').fadeOut();
								return false;
							});

						}
					</script>
				</div>

				<div id="detailSearchLayer" class="layerPopup">
					<div>
						<p class="tit">Advanced search</p>
						<div class="content">
							<table class="tbType01 type2">
								<colgroup>
									<col style="width:160px">
									<col>
								</colgroup>
								<tbody>
								<tr id="trSrchTitleEn">
									<th>Classification</th>
									<td>
										<input type="hidden" name="SMUSEUM_CODE" id="SMUSEUM_CODE" value="PS01001001" />
										<div style="width:580px; float:left;">
											<select name="LARGE_SEQ" id="LARGE_SEQ" class="LARGE_SEQ" style="width: 201px; float:left;" th:utext="${LargeContents}">
											</select>
											<select name="MEDIUM_SEQ" id="MEDIUM_SEQ" class="MEDIUM_SEQ" style="width: 374px; float:right;" th:utext="${MiddleContents}">
											</select>
											<select name="SMALL_SEQ" id="SMALL_SEQ" style="width: 201px;float:left; margin-top: 5px;" th:utext="${SmallContents}">
											</select>
											<select name="SUB_SEQ" id="SUB_SEQ" style="width: 374px; float:right; margin-top: 5px;" th:utext="${SubSectionContents}">
											</select>
										</div>
										<div style="float:right;">
											<select class="SEQ_Sel" id="SEL_SEQ" name="SEL_SEQ" style="">
												<option value="">SELECT</option>
												<option value="OR">OR</option>
												<option value="AND">AND</option>
												<option value="NOT">NOT</option>
											</select>
											<div>
									</td>
								</tr>
								<tr id="trSrchCityEn">
									<th>Region</th>
									<td>
										<select name="CITY_SEQ" id="CITY_SEQ" style="width: 201px; float:left;" th:utext="${CitiesContents}"></select>
										<select name="MUSEUM_SEQ" id="MUSEUM_SEQ" style="width: 374px; float:left; margin-left: 5px;" th:utext="${MuseumContents}"></select>
										<select class="Ad_Sel" id="SEL_CITY" name="SEL_CITY" style="">
											<option value="">SELECT</option>
											<option value="OR">OR</option>
											<option value="AND">AND</option>
											<option value="NOT">NOT</option>
										</select>
									</td>
								</tr>
								<tr id="trSrchTitleEn">
									<th>Title(En)</th>
									<td>
										<input type="text" class="sizeL" id="SRCH_TITLE" name="SRCH_TITLE" value="" onkeypress="speCharBlock(this)">
										<select class="Ad_Sel" id="SEL_TITLE" name="SEL_TITLE">
											<option value="">SELECT</option>
											<option value="OR">OR</option>
											<option value="AND">AND</option>
											<option value="NOT">NOT</option>
										</select>
									</td>
								</tr>
								<tr id="trSrchRemark1En">
									<th>Remark(En)</th>
									<td>
										<input type="text" class="sizeL" id="SRCH_REMARK" name="SRCH_REMARK" value="" onkeypress="speCharBlock(this)">
										<select class="Ad_Sel" id="SEL_REMARK" name="SEL_REMARK">
											<option value="">SELECT</option>
											<option value="OR">OR</option>
											<option value="AND">AND</option>
											<option value="NOT">NOT</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>Registrant</th>
									<td>
										<input type="text" class="sizeL" id="SRCH_REG" name="SRCH_REG" value="" onkeypress="speCharBlock(this)">
										<select class="Ad_Sel" id="SEL_REG" name="SEL_REG">
											<option value="">SELECT</option>
											<option value="OR">OR</option>
											<option value="AND">AND</option>
											<option value="NOT">NOT</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>Registration date</th>
									<td>
										<script>
										$(function() {

											SRCH_REG_SRT_DATE = $("#SRCH_REG_SRT_DATE").datepicker({
												showOn: "button",
												buttonImage: "/MCHMS/btn_calender.gif",
												buttonImageOnly: true,
												buttonText: "Select date",
												dateFormat: 'yy-mm-dd',
												beforeShow: customRangeStart,
												maxDate: null,
												defaultDate: "+1w",
												changeMonth: true,
												changeYear: true
											}),
											SRCH_REG_END_DATE = $("#SRCH_REG_END_DATE").datepicker({
												showOn: "button",
												buttonImage: "/MCHMS/btn_calender.gif",
												buttonImageOnly: true,
												buttonText: "Select date",
												dateFormat: 'yy-mm-dd',
												beforeShow: customRange,
												defaultDate: "+1w",
												changeMonth: true,
												changeYear: true
											});

											function customRange(input) {
												return {
													minDate: (input.id == "SRCH_REG_END_DATE" ? $("#SRCH_REG_SRT_DATE").datepicker("getDate") : new Date())
												};
											}
											function customRangeStart(input) {
												return {
													maxDate:(input.id == "SRCH_REG_SRT_DATE" ? $("#SRCH_REG_END_DATE").datepicker("getDate") : null)
												};
											}
										});
										</script>
										<div class="calBox">
											<input type="text" size="6" readonly="readonly" id="SRCH_REG_SRT_DATE" name="SRCH_REG_SRT_DATE">
										</div>
										~
										<div class="calBox">
											<input type="text" size="6" readonly="readonly" id="SRCH_REG_END_DATE" name="SRCH_REG_END_DATE">
										</div>
										<select class="Ad_Sel" id="SEL_DATE" name="SEL_DATE">
											<option value="">SELECT</option>
											<option value="OR">OR</option>
											<option value="AND">AND</option>
											<option value="NOT">NOT</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>Serial number</th>
									<td>
										<input type="text" class="sizeS" name="SRCH_RELIC_NUM" id="SRCH_RELIC_NUM" value="" size="6" onkeypress="speCharBlock(this)">
										<select class="Ad_Sel" id="SEL_RELIC_NUM" name="SEL_RELIC_NUM">
											<option value="">SELECT</option>
											<option value="OR">OR</option>
											<option value="AND">AND</option>
											<option value="NOT">NOT</option>
										</select>
									</td>
								</tr>
								</tbody>
							</table>
							<div class="btnC">
								<input type="hidden" name="TOPMCSJGBNC_CODE" id="TOPMCSJGBNC_CODE">
								<input type="hidden" name="TOPMCSJGBNC_LV" id="TOPMCSJGBNC_LV">
								<input type="hidden" name="TOPCODECOPY" id="TOPCODECOPY">
								<a href="#" onclick="adv_Search();" class="btn type2 btnB">Search</a>
								<script>
									function adv_Search(){

										AdvsearchFrom.submit();

									}
								</script>
								<a href="javascript:reset();" class="btn type2">Reset</a>
							</div>
						</div>
						<a href="" class="close"><img src="/MCHMS/btn/close.png" alt=""></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

	$("#SLT_USER_LANG").val("").prop("selected", true);
	if(getLang().toLowerCase().indexOf("my") == -1){ //언어 != 미얀마이면 isKang 190619
		$('#SLT_USER_LANG').val("EN").prop("selected", true);
		$('#spanMypage').text("My Page");
		$('#spanMoveMngt').text("Move manager");
		$('#spanRegMtrl').text("Article registration");
		$('#spanRegBox').text("Registration Box");
		$('#spanBookmark').text("Bookmark");
		$('#spanDown').text("Downloaded");
		$('#spanEditPri').text("Edit personal info.");
		$('#spanTalk').text("Conversation with manager");
		$('#spanNtc').text("Notice");
		$('#spanErr').text("Error board");
	}else{
		$('#SLT_USER_LANG').val("MY").prop("selected", true);
	}
	function goMain(){
		var url = '';
		if(url.indexOf('unione') > -1)
			frm = $('#searchFrom');
		else{
			if($('#listForm').length > 0) frm = $('#listForm');
			if($('#SearchForm').length > 0) frm = $('#SearchForm');
		}
		frm.attr("action",_CONTEXT_PATH + "/main.do");
		frm.submit();
	}
	function selectUserLang(){
		var userLang = $('#SLT_USER_LANG').val();
		setCookie('DAMS_USER_LANG', userLang, 3650); /* 10년 뒤 만료됨 */
		$('input[name="LANG"]').attr('value', userLang);
		if($("#pageId").val() == "BoardList" && $("#listForm #SRCH_MODE").val() != "상세검색"){
			console.log("BoardList");
			console.log(" ");
			if("" != "" && "" != ""){
				boardpagemove("", "");
			}else{
				console.log("goList");
				goList("/user/board/BoardList.do");
			}
		}else if($("#pageId").val() == "userBoardReg"){
			console.log("userBoardReg");
			BoardWrite();
		}else if($("#pageId").val() == "BoardView"){
			console.log("BoardView");
			$("input[name^='Str']").remove(); //StrStr~로 꼬임 isKang 190626(근본적으로 문제해결을 안하고 땜빵으로 해놨네.ㅜㅡ)
			var frm = $('#listForm');
			frm.attr("method","post");
			frm.attr("action",_CONTEXT_PATH + "/user/board/BoardView.do");
			frm.submit();
		}else if($("#pageId").val() == "BoardViewModfiy"){
			console.log("BoardViewModfiy");
			var frm = $('#boardListForm');
			frm.attr("method","post");
			frm.attr("action",_CONTEXT_PATH + "/user/board/BoardViewModfiy.do");
			frm.submit();
		}else if(window.location.href.indexOf("/user/imgSearch.do") > -1){
			imgSearch();
		}else if(window.location.href.indexOf("/user/docSearch.do") > -1){
			pdfSearch();
		}else if(window.location.href.indexOf("/user/movieSearch.do") > -1){
			aviSearch();
		}else if(window.location.href.indexOf("/user/Search.do") > -1 && $("#listForm #SRCH_MODE").val() == "상세검색"){
			topSearchinit('ON');
			setTimeout(function() {
				Searchchk('st');
			}, 1500);
		}else if(window.location.href.indexOf("/user/Search.do") > -1 && $("#SearchForm #SRCH_MODE").val() == "상세검색"){
			topSearchinit('ON');
			setTimeout(function() {
				Searchchk('st');
			}, 1500);
		}else{
			console.log("reload");
			location.reload();
		}
	}
</script>
<script type="text/javascript" >
	$.post(_CONTEXT_PATH + "/user/mypage/getApprover_menu.do", $('#searchFrom').serialize(), function(result) {
		if("Y"==result.APPROVER){
			if(getLang().toLowerCase().indexOf("my") == -1){ //언어 != 미얀마이면 isKang 190619
				/* $('#APPROVER_CHK').html("<a href=\"javascript:fileauthList()\"  class=\"strong tn_3\"> Request approval "+result.APPROVER_COUNT+"s</a>"); */
			}else{
				/* $('#APPROVER_CHK').html("<a href=\"javascript:fileauthList()\"  class=\"strong tn_3\"> 승인요청 "+result.APPROVER_COUNT+"건</a>"); */
			}
		}else{
			$("select[name=mypage] option[value=4]").remove();
		}
		if($.trim(result.TSGROUP_CODE)!=""){
			$('#TOP_MUESUM').show();
			var HTML="<ul>";
			//박물관 리스터
			$.each(result.MUSEUMLIST, function(i) {
				HTML += "\t<li><a href=\"javascript:changeMuseum('"+result.MUSEUMLIST[i].MUSEUM_CODE+"', '"+result.MUSEUMLIST[i].MUSEUM_NAME+"');\">"+result.MUSEUMLIST[i].MUSEUM_NAME+"</a></li>";
			});
			HTML+="</ul>";
			$('#TOP_MUESUM_CODE').html(HTML);
		}
		var SELECT ="";
		var SELECTHTML = "";
		$.each(result.TOPMCSJGBNC1, function(i) {
			SELECT += "<option value=\"" + result.TOPMCSJGBNC1[i].CODE + "\">" + result.TOPMCSJGBNC1[i].NAME + "</option>";
		} );
		$('#TOPMCSJGBNC1').html(SELECT);
		SELECT ="";
		$.each(result.TOPMCSJGBNC2, function(i) {
			if($('#TOP_MUESUM_CODE').val() ==result.TOPMCSJGBNC2[i].CODE){
				SELECTHTML += "  selected=\"selected\"  ";
			}else{
				SELECTHTML ="";
			}
			SELECT += "<option value=\"" + result.TOPMCSJGBNC2[i].CODE + "\""+SELECTHTML+">" + result.TOPMCSJGBNC2[i].NAME + "</option>";
		} );
		$('#TOPMCSJGBNC2').html(SELECT);
		SELECT ="";
		$.each(result.TOPMCSJGBNC3, function(i) {
			SELECT += "<option value=\"" + result.TOPMCSJGBNC3[i].CODE + "\">" + result.TOPMCSJGBNC3[i].NAME + "</option>";
		} );
		$('#TOPMCSJGBNC3').html(SELECT);
	}, "json");
</script>
<div id="inlineContent" style=" display:none;" >
	<img src="" alt="Loading" />
	<div style="margin-top:10px;" id="dot01">Loading...</div>
</div>
<div id="divpop" style="z-index:150; position:absolute; display:none;" onmousedown="ddInit()" onmousemove="dd()" onmouseup="stopdrag()">
	<div style="position:absolute; top:0px; left:0px; width:100%; height:38px;">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" background="images/pop_top_bg2.gif">
			<tbody>
			<tr>
				<td width="120"><img id="popTitle" src=""></td>
				<td class="menu1"><span id="textTitle"></span>&nbsp;</td>
				<td width="40" align="center" background="images/pop_top_bg2.gif"><input type="button" value="X" onclick="noCheck2()" style="width:20px"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="inlineContent" style=" display:none;">
	<!-- <img src="./DAMS 디지털자료관리시스템_files/loading.gif" alt="로딩중"> -->
	<div style="margin-top:10px;" id="dot01">로딩중...</div>
	<!-- <div style="margin-top:10px;" id="clsBtn">
    <a href="#" class="btn_rnd closeDOMWindow" onclick="document.getElementById('searchFrom').reset();">취소</a>
</div> -->
</div>
<div style="background: #fafafa;">
	<div class="subContent" id="main">
		<script>
			function ck()
			{

				var ls = $("#n").css("display");
				if(ls== "none")
					$("#n").css("display","block");
				if(ls == "block")
					$("#n").css("display","none");
			}
			function ck1()
			{

				var ls = $("#n1").css("display");
				if(ls== "none")
					$("#n1").css("display","block");
				if(ls == "block")
					$("#n1").css("display","none");
			}
			function ck2()
			{

				var ls = $("#n2").css("display");
				if(ls== "none")
					$("#n2").css("display","block");
				if(ls == "block")
					$("#n2").css("display","none");
			}
			function ck3()
			{

				var ls = $("#n3").css("display");
				if(ls== "none")
					$("#n3").css("display","block");
				if(ls == "block")
					$("#n3").css("display","none");
			}
			function ck4()
			{

				var ls = $("#n4").css("display");
				if(ls== "none")
					$("#n4").css("display","block");
				if(ls == "block")
					$("#n4").css("display","none");
			}
			function ck5()
			{

				var ls = $("#n5").css("display");
				if(ls== "none")
					$("#n5").css("display","block");
				if(ls == "block")
					$("#n5").css("display","none");
			}
			function ck6()
			{

				var ls = $("#n6").css("display");
				if(ls== "none")
					$("#n6").css("display","block");
				if(ls == "block")
					$("#n6").css("display","none");
			}
			function ck7()
			{

				var ls = $("#n7").css("display");
				if(ls== "none")
					$("#n7").css("display","block");
				if(ls == "block")
					$("#n7").css("display","none");
			}
			function ck8()
			{

				var ls = $("#n8").css("display");
				if(ls== "none")
					$("#n8").css("display","block");
				if(ls == "block")
					$("#n8").css("display","none");
			}
			function ck9()
			{

				var ls = $("#n9").css("display");
				if(ls== "none")
					$("#n9").css("display","block");
				if(ls == "block")
					$("#n9").css("display","none");
			}
			function ck10()
			{

				var ls = $("#n10").css("display");
				if(ls== "none")
					$("#n10").css("display","block");
				if(ls == "block")
					$("#n10").css("display","none");
			}
			function ck11()
			{

				var ls = $("#n11").css("display");
				if(ls== "none")
					$("#n11").css("display","block");
				if(ls == "block")
					$("#n11").css("display","none");
			}
			function ck12()
			{

				var ls = $("#n12").css("display");
				if(ls== "none")
					$("#n12").css("display","block");
				if(ls == "block")
					$("#n12").css("display","none");
			}
			function ck13()
			{

				var ls = $("#n13").css("display");
				if(ls== "none")
					$("#n13").css("display","block");
				if(ls == "block")
					$("#n13").css("display","none");
			}
			function ck14()
			{

				var ls = $("#n").css("display");
				if(ls== "none")
					$("#n14").css("display","block");
				if(ls == "block")
					$("#n14").css("display","none");
			}
			function ck15()
			{

				var ls = $("#n").css("display");
				if(ls== "none")
					$("#n15").css("display","block");
				if(ls == "block")
					$("#n15").css("display","none");
			}


		</script>


		<div class="leftM2">
			<ul class="mainSide" id="menu">
				<li><a href="#" id="mn04" onclick ="ck();" style = "display:block">Yangon</a>
					<ul id="n" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Yangon"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>
				<li><a href="#" id="mn06"onclick ="ck1();" >Mandalay</a>
					<ul id="n1" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Mandalay"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn01"onclick ="ck2();" >Bago</a>
					<ul id="n2" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Bago"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck3();" >Mon</a>
					<ul id="n3" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Mon"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck4();" >Sagaing</a>
					<ul id="n4" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Sagaing"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck5();" >Magway</a>
					<ul id="n5" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Magway"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck6();" >Kayin</a>
					<ul id="n6" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Kayin"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck7();" >Kachin</a>
					<ul id="n7" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Kachin"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck8();" >Tanintharyi</a>
					<ul id="n8" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Tanintharyi"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck9();" >Ayeyarwady</a>
					<ul id="n9" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Ayeyarwady"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck10();" >Rakhine</a>
					<ul id="n10" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Rakhine"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck11();" >Shan</a>
					<ul id="n11" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Shan"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck12();" >Chin</a>
					<ul id="n12" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Chin"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck13();" >Kayah</a>
					<ul id="n13" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Kayah"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck14();" >Naypyitaw</a>
					<ul id="n14" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Naypyitaw"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>

				<li><a href="#" id="mn04"onclick ="ck15();" >Nationwide</a>
					<ul id="n15" style = "display:blck" >
						<li th:each="ms : ${Museum}" th:if="${ms.cities} == Nationwide"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
					</ul>
				</li>
			</ul>

		</div>
		<form id="menuForm" name="menuForm" method="post">
			<input type="hidden" id="MENU_DEPT_SEQ1" name="MENU_DEPT_SEQ1" value="" />
			<input type="hidden" id="MENU_DEPT_SEQ2" name="MENU_DEPT_SEQ2" value="" />
			<input type="hidden" id="DEPTH" name="DEPTH" value="2" />
			<input type="hidden" id="LANG" name="LANG" value="" />
			<input type="hidden" id="StrMODE" name="StrMODE" value="" />
			<!-- 상세검색 Start-->
			<input type="hidden" name="SRCH_TITLE" value="" />
			<input type="hidden" name="SRCH_TITLE_OP" value="" />
			<input type="hidden" name="SRCH_TITLE_MY" value="" />
			<input type="hidden" name="SRCH_TITLE_MY_OP" value="" />
			<input type="hidden" name="SRCH_REMARK1" value="" />
			<input type="hidden" name="SRCH_REMARK1_OP" value="" />
			<input type="hidden" name="SRCH_REMARK1_MY" value="" />
			<input type="hidden" name="SRCH_REMARK1_MY_OP" value="" />
			<input type="hidden" name="SRCH_REMARK2" value="" />
			<input type="hidden" name="SRCH_REMARK2_OP" value="" />
			<input type="hidden" name="SRCH_REMARK2_MY" value="" />
			<input type="hidden" name="SRCH_REMARK2_MY_OP" value="" />
			<input type="hidden" name="SRCH_REG" value="" />
			<input type="hidden" name="SRCH_REG_OP" value="" />
			<input type="hidden" name="SRCH_MUESUM_CODE" value="" />
			<input type="hidden" name="SRCH_LEVEL1_SEQ" value="" />
			<input type="hidden" name="SRCH_LEVEL2_SEQ" value="" />
			<input type="hidden" name="SRCH_LARGE_SEQ" value="" />
			<input type="hidden" name="SRCH_MEDIUM_SEQ" value="" />
			<input type="hidden" name="SRCH_SMALL_SEQ" value="" />
			<input type="hidden" name="SRCH_LEVEL1_MY_SEQ" value="" />
			<input type="hidden" name="SRCH_LEVEL2_MY_SEQ" value="" />
			<input type="hidden" name="SRCH_LARGE_MY_SEQ" value="" />
			<input type="hidden" name="SRCH_MEDIUM_MY_SEQ" value="" />
			<input type="hidden" name="SRCH_SMALL_MY_SEQ" value="" />
			<input type="hidden" name="SRCH_REG_SRT_DATE" value="" />
			<input type="hidden" name="SRCH_REG_END_DATE" value="" />
			<input type="hidden" name="SRCH_BIZ_SRT_DATE" value="" />
			<input type="hidden" name="SRCH_BIZ_END_DATE" value="" />
			<input type="hidden" name="SRCH_RELIC_NUM" value="" />
			<input type="hidden" id="SRCH_MODE" name="SRCH_MODE" value="" />
			<!-- 상세검색 End-->
		</form>
		<script type="text/javascript">
			function goList(url){
				var frm = $("#menuForm");
				$("input[name=StrMODE]").val("MORE");
				$("#LANG").val(getLang());
				frm.attr("action", url);
				frm.submit();
			}
			if(getLang().toLowerCase().indexOf("my") == -1){ //언어 != 미얀마이면 isKang 190619
				$('#spanRecntMtr').text("Recent registration materials");
				$('.quickBox').hide(); //버마어일때 최근등록자료 숨김
			}else{
				$('.quickBox').hide(); //버마어일때 최근등록자료 숨김
			}
		</script>
		<!-- 내용부분 -->
		<div class="conts" >
			<div class="main01">
				<form id="listForm" name="listForm" method="post">
					<!-- 상세검색 Start-->
					<input type="hidden" name="SRCH_TITLE" value="" />
					<input type="hidden" name="SRCH_TITLE_OP" value="" />
					<input type="hidden" name="SRCH_TITLE_MY" value="" />
					<input type="hidden" name="SRCH_TITLE_MY_OP" value="" />
					<input type="hidden" name="SRCH_REMARK1" value="" />
					<input type="hidden" name="SRCH_REMARK1_OP" value="" />
					<input type="hidden" name="SRCH_REMARK1_MY" value="" />
					<input type="hidden" name="SRCH_REMARK1_MY_OP" value="" />
					<input type="hidden" name="SRCH_REMARK2" value="" />
					<input type="hidden" name="SRCH_REMARK2_OP" value="" />
					<input type="hidden" name="SRCH_REMARK2_MY" value="" />
					<input type="hidden" name="SRCH_REMARK2_MY_OP" value="" />
					<input type="hidden" name="SRCH_REG" value="" />
					<input type="hidden" name="SRCH_REG_OP" value="" />
					<input type="hidden" name="SRCH_MUESUM_CODE" value="" />
					<input type="hidden" name="SRCH_LEVEL1_SEQ" value="" />
					<input type="hidden" name="SRCH_LEVEL2_SEQ" value="" />
					<input type="hidden" name="SRCH_LARGE_SEQ" value="" />
					<input type="hidden" name="SRCH_MEDIUM_SEQ" value="" />
					<input type="hidden" name="SRCH_SMALL_SEQ" value="" />
					<input type="hidden" name="SRCH_LEVEL1_MY_SEQ" value="" />
					<input type="hidden" name="SRCH_LEVEL2_MY_SEQ" value="" />
					<input type="hidden" name="SRCH_LARGE_MY_SEQ" value="" />
					<input type="hidden" name="SRCH_MEDIUM_MY_SEQ" value="" />
					<input type="hidden" name="SRCH_SMALL_MY_SEQ" value="" />
					<input type="hidden" name="SRCH_REG_SRT_DATE" value="" />
					<input type="hidden" name="SRCH_REG_END_DATE" value="" />
					<input type="hidden" name="SRCH_BIZ_SRT_DATE" value="" />
					<input type="hidden" name="SRCH_BIZ_END_DATE" value="" />
					<input type="hidden" name="SRCH_RELIC_NUM" value="" />
					<input type="hidden" id="SRCH_MODE" name="SRCH_MODE" value="" />
					<!-- 상세검색 End-->
				</form>

				<th:block th:include="${MID_Page}"></th:block>