
<!------------------>
<!---카드 배경 이미지-->
<!------------------>
<style type="text/css">
	[class*="card_tit"]::before {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 100%;
		width: 100%;
		background-image: url(images/mams/card_bg_al.png);
		content: "";
		display: inline-block;
		border-radius: 5px 5px 0 0;
	}
</style>
<script>
			function Statistics_Popup(City){
				window.open('/Statistics/?Cities='+City,'stat','left=100, top=100, toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1150, height=800');
			}
		</script>
<div class="grid" id="list1" style="position: relative; height: 1518px;">
	<div class="grid-item" style="position: absolute; left: 0px; top: 0px;">
		<div class="card_tit_01" style="background-image: url(&quot;/images/mainImg/d8f300b68bd645e98862cf2114859075.jpg&quot;);">
			<div class="list1_img_01"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Yangon');">
				<p>Yangon</p></a></div></div>
		<div >
			<ul class="card_list">
				<li th:each="ms : ${Museum}" th:if="${ms.cities} == Yangon"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
			</ul></div></li>

	</div>
	<div class="grid-item" style="position: absolute; left: 318px; top: 0px;">
		<div class="card_tit_02" style="background-image: url(&quot;/images/mainImg/7a290a96e4284e1e8f2fef69628e4f8d.jpg&quot;);">
			<div class="list1_img_02"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Mandalay');"><p>Mandalay</p></a></div></div>
		<div >
			<ul class="card_list">
				<li th:each="ms : ${Museum}" th:if="${ms.cities} == Mandalay"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
			</ul></div></li>

	</div><div class="grid-item" style="position: absolute; left: 636px; top: 0px;"><div class="card_tit_03" style="background-image: url(&quot;/images/mainImg/62597f8373744ed6856bcfc62c2dba59.jpg&quot;);"><div class="list1_img_03"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Bago');"><p>Bago</p></a></div></div>
	<div th:each="ms : ${Museum}">
		<ul class="card_list">

			<li th:if="${ms.cities} == Bago"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
		</ul></div></li>
</div><div class="grid-item" style="position: absolute; left: 0px; top: 330px;"><div class="card_tit_04" style="background-image: url(&quot;/images/mainImg/fedee10ee0bf4e0da310f35feb3b83e8.jpg&quot;);"><div class="list1_img_04"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Mon');"><p>Mon</p></a></div></div>
	<div >
		<ul class="card_list">
			<li th:each="ms : ${Museum}" th:if="${ms.cities} == Mon"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
		</ul></div></li>

</div><div class="grid-item" style="position: absolute; left: 318px; top: 330px;"><div class="card_tit_05" style="background-image: url(&quot;/images/mainImg/803c4ce2c4c148089ae627e423f94cbe.jpg&quot;);"><div class="list1_img_05"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Sagaing');"><p>Sagaing</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Sagaing"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>

</div><div class="grid-item" style="position: absolute; left: 636px; top: 330px;"><div class="card_tit_06" style="background-image: url(&quot;/images/mainImg/b1a68fe321c04f13af3f8f6113e48ace.jpg&quot;);"><div class="list1_img_06"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Magway');"><p>Magway</p></a></div></div>
	<ul class="card_list" >

		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Magway"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 0px; top: 618px;"><div class="card_tit_07" style="background-image: url(&quot;/images/mainImg/3f2cbc993b8d4277894ae2c48c2a4753.jpg&quot;);"><div class="list1_img_07"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Kayin');"><p>Kayin</p></a></div></div>
	<ul class="card_list" >

		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Kayin"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 318px; top: 660px;"><div class="card_tit_08" style="background-image: url(&quot;/images/mainImg/32e95cce63a24bf383d3b7541e6883e8.jpg&quot;);"><div class="list1_img_08"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Kachin');"><p>Kachin</p></a></div></div>
	<ul class="card_list" >

		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Kachin"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 636px; top: 660px;"><div class="card_tit_09" style="background-image: url(&quot;/images/mainImg/bb0ad15de4f9432b8b60fd0fecd9195d.jpg&quot;);"><div class="list1_img_09"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Tanintharyi');"><p>Tanintharyi</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Tanintharyi"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li></div><div class="grid-item" style="position: absolute; left: 0px; top: 906px;"><div class="card_tit_010" style="background-image: url(&quot;/images/mainImg/84506264a94c43889d0233832844da39.jpg&quot;);"><div class="list1_img_010"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Ayeyarwady');"><p>Ayeyarwady</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Ayeyarwady"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>

</div><div class="grid-item" style="position: absolute; left: 318px; top: 906px;"><div class="card_tit_011" style="background-image: url(&quot;/images/mainImg/9349d52320dc44b480f1f39724ddb7df.jpg&quot;);"><div class="list1_img_011"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Rakhine');"><p>Rakhine</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Rakhine"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 636px; top: 906px;"><div class="card_tit_012" style="background-image: url(&quot;/images/mainImg/c8637111477a483bbed8f01a6c4a50bf.JPG&quot;);"><div class="list1_img_012"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Shan');"><p>Shan</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Shan"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 0px; top: 1152px;"><div class="card_tit_013" style="background-image: url(&quot;/images/mainImg/9368e6b413424e86babbeddc271e63b2.jpg&quot;);"><div class="list1_img_013"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Chin');"><p>Chin</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Chin"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 318px; top: 1236px;"><div class="card_tit_014" style="background-image: url(&quot;/images/mainImg/b9a515a9f4a1404bbdd92e05559b82d4.jpg&quot;);"><div class="list1_img_014"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Kayah');"><p>Kayah</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Kayah"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 636px; top: 1236px;"><div class="card_tit_015" style="background-image: url(&quot;/images/mainImg/b956aef3701846e3b5007d24596c9243.jpg&quot;);"><div class="list1_img_015"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Naypyitaw');"><p>Naypyitaw</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Naypyitaw"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
	</ul></li>
</div><div class="grid-item" style="position: absolute; left: 0px; top: 1356px;"><div class="card_tit_016" style="background-image: url(&quot;/images/mainImg/649277fa4ceb491996e477b38acf6cb7.jpg&quot;);"><div class="list1_img_016"><a href="javascript:void(0);" onclick="javascript:Statistics_Popup('Nationwide');"><p>Nationwide</p></a></div></div>
	<ul class="card_list" >
		<li th:each="ms : ${Museum}" th:if="${ms.cities} == Nationwide"><a th:href="@{/MCHMSSearch/(City_id=${ms.cityId})}" th:text="${ms.museum}"></a></li>
</div></div><!-- div class="grid" 끝 -->
</div>
<!-- <script>
$("#menucent li:first-child").addClass("first");</script> -->
<div class="wrapperMain">
	<div class="main02">
		<div class="main_regiData">
			<div class="main_Btit">
				<span id="spanMainNtc">Notice</span>
				<div class="btn_more"><a href="/user/mypage/getNEBoardList.do?TYPE=N"><!--<img src="images/more_icon.svg" alt="더보기" width="20px">--></a></div>
			</div>
			<ul class="regidataList">
				<li>
					<a href="#" onClick="noticePopView('20190524105311363607_000000001')">
						<div class="tit">
							JKDS DAMS CONTROL
						</div>
						<div class="date">2019.05.24</div>
						<div class="name">dev</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>   	<!-- div class="wrapperMain" 끝 -->
</div>
</div><!-- //내용부분 -->
</div>

<div id="footer">
	MCHMS Myanmar Culture Heritage Management System Copyright. All rights reserved.
</div>
<form id="SearchForm" name="SearchForm" method="post">
	<input type='hidden' name='StrLEVEL1_SEQ' id='StrLEVEL1_SEQ' value=''/>
	<input type='hidden' name='StrLEVEL2_SEQ' id='StrLEVEL2_SEQ' value=''/>
	<input type='hidden' name='StrDEPT_SEQ1' id='StrDEPT_SEQ1' value=''/>
	<input type='hidden' name='StrDEPT_SEQ2' id='StrDEPT_SEQ2' value=''/>
	<input type='hidden' name='StrDEPT_SEQ3' id='StrDEPT_SEQ3' value=''/>
	<input type='hidden' name='StrLARGE_SEQ' id='StrLARGE_SEQ' value=''/>
	<input type='hidden' name='StrMEDIUM_SEQ' id='StrMEDIUM_SEQ' value=''/>
	<input type='hidden' name='StrSMALL_SEQ' id='StrSMALL_SEQ' value=''/>
	<input type='hidden' name='StrPAGE_INDEX' id='StrPAGE_INDEX' value='1'/>
	<input type='hidden' name='StrPAGECNT' id='StrPAGECNT' value='10'/>
	<input type='hidden' name='StrKEY' id='StrKEY' value='FIELD_TITLE'/>
	<input type='hidden' name='StrKEYWORD' id='StrKEYWORD' value=''/>
	<input type='hidden' name='StrMODE' id='StrMODE' value='LIST'/>
	<input type='hidden' name='StrSELECT_DEPTH' id='StrSELECT_DEPTH' value='4'/>
	<input type='hidden' name='CATEGORY' id='CATEGORY' value=''/>
	<input type='hidden' name='DEPT_SEQ3' id='DEPT_SEQ3' value=''/>
	<input type='hidden' name='BOARD_SEQ' id='BOARD_SEQ' value=''/>
	<input type='hidden' name='LARGE_SEQ' id='LARGE_SEQ' value=''/>
	<input type='hidden' name='MEDIUM_SEQ' id='MEDIUM_SEQ' value=''/>
	<input type='hidden' name='SMALL_SEQ' id='SMALL_SEQ' value=''/>
	<input type='hidden' name='MENU_SEQ' id='MENU_SEQ' value=''/>
	<input type='hidden' name='MODIFIY' id='MODIFIY' value='MOD'/>
	<!-- 상세검색 Start-->
	<input type="hidden" name="SRCH_TITLE" value="" />
	<input type="hidden" name="SRCH_TITLE_OP" value="" />
	<input type="hidden" name="SRCH_TITLE_MY" value="" />
	<input type="hidden" name="SRCH_TITLE_MY_OP" value="" />
	<input type="hidden" name="SRCH_REMARK1" value="" />
	<input type="hidden" name="SRCH_REMARK1_OP" value="" />
	<input type="hidden" name="SRCH_REMARK1_MY" value="" />
	<input type="hidden" name="SRCH_REMARK1_MY_OP" value="" />
	<input type="hidden" name="SRCH_REMARK2" value="" />
	<input type="hidden" name="SRCH_REMARK2_OP" value="" />
	<input type="hidden" name="SRCH_REMARK2_MY" value="" />
	<input type="hidden" name="SRCH_REMARK2_MY_OP" value="" />
	<input type="hidden" name="SRCH_REG" value="" />
	<input type="hidden" name="SRCH_REG_OP" value="" />
	<input type="hidden" name="SRCH_MUESUM_CODE" value="" />
	<input type="hidden" name="SRCH_LEVEL1_SEQ" value="" />
	<input type="hidden" name="SRCH_LEVEL2_SEQ" value="" />
	<input type="hidden" name="SRCH_LARGE_SEQ" value="" />
	<input type="hidden" name="SRCH_MEDIUM_SEQ" value="" />
	<input type="hidden" name="SRCH_SMALL_SEQ" value="" />
	<input type="hidden" name="SRCH_LEVEL1_MY_SEQ" value="" />
	<input type="hidden" name="SRCH_LEVEL2_MY_SEQ" value="" />
	<input type="hidden" name="SRCH_LARGE_MY_SEQ" value="" />
	<input type="hidden" name="SRCH_MEDIUM_MY_SEQ" value="" />
	<input type="hidden" name="SRCH_SMALL_MY_SEQ" value="" />
	<input type="hidden" name="SRCH_REG_SRT_DATE" value="" />
	<input type="hidden" name="SRCH_REG_END_DATE" value="" />
	<input type="hidden" name="SRCH_BIZ_SRT_DATE" value="" />
	<input type="hidden" name="SRCH_BIZ_END_DATE" value="" />
	<input type="hidden" name="SRCH_RELIC_NUM" value="" />
	<input type="hidden" id="SRCH_MODE" name="SRCH_MODE" value="" />
	<!-- 상세검색 End-->
</form>
<script type="text/javascript">
</script>
<script type="text/javascript">
	if(getLang().toLowerCase().indexOf("my") == -1){ //언어 != 미얀마이면 isKang 190619
		$('#spanMainNtc').text("Notice");
	}
</script>
</body>
</html>