<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-y:auto;">
<head>


    <link rel="stylesheet" href="/js/jquery-ui-1.12.1/jquery-ui.min.css?ver=3">
    <script src="https://code.jquery.com/jquery-1.12.4.js?ver=3"></script>
    <script src="/js/jquery-ui-1.12.1/jquery-ui.min.js?ver=3"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8?ver=3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi?ver=3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MAMS Myanmar Asset Management System</title>
    <link rel="stylesheet" href="/css/MCH/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/MCH/common.css" type="text/css" />
    <link rel="stylesheet" href="/css/MCH/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/MCH/style.css" type="text/css" />
    <link rel="stylesheet" href="/common/css/jquery-ui.css?ver=3" type="text/css" />
    <script type="text/javascript">
		var _CONTEXT_PATH = "";
		var _CONTEXT_PORT = '80';
		var _CONTEXT_DOMAIN = "localhost:8080/";
	</script>

    <script type="text/javascript" src="/js2/jquery-3.3.1.min.js?ver=3"></script>

    <script type="text/javascript" src="/js2/jquery-1.10.2.min.js?ver=3"></script>

    <script type="text/javascript" src="/common/js/jquery-ui-1.8.23.custom.min.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/jquery.tmpl.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/jquery.form.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/jquery.DOMWindow.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/link.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/jkds.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/patch_flash_tran.js?ver=3"></script>
    <script type="text/javascript" src="/common/js/AC_RunActiveContent.js?ver=3"></script>
    <!-- <script type="text/javascript" src="/common/js/Calendar.js" ></script> -->
    <script type="text/javascript" src="/common/js/makeDiv.js"></script><link type="text/css" rel="stylesheet">



    <script type="text/javascript">

		$(document).ready(function() {
			$("#LARGE_SEQ").change(function() {	//사용자가 Classification 영역 selectBox를 변경할 경우
				var target = document.getElementById("LARGE_SEQ");
				var text22 = target.options[target.selectedIndex].text;
				$("#FIELD_CODE_NM").val(text22);
				/* console.log('셀렉트 박스 변경되었습니다')
                $("#CODE_TITLE").val(text22); */
			});
			if($("#FIELD_CODE_NM option:selected").text()){
			}
		});
	</script>

</head>
<!-- 메인화면 -->
<body><div id="divpop" style="z-index:150; position:absolute; display:none;" onmousedown="ddInit()" onmousemove="dd()" onmouseup="stopdrag()">
    <div style="position:absolute; top:0px; left:0px; width:100%; height:38px;">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" background="/images/common/pop_top_bg2.gif">
            <tbody><tr>
                <td width="120"><img id="popTitle" src=""></td>
                <td class="menu1"><span id="textTitle"></span>&nbsp;</td>
                <td width="40" align="center" background="/images/common/pop_top_bg2.gif"><input type="button" value="X" onclick="noCheck2()" style="width:20px"></td>
            </tr>
            </tbody></table>
    </div>
    <iframe src="" height="38" width="100%" frameborder="0" scrolling="no"></iframe>
    <div id="dwindowcontent" style="height:100%">
        <iframe name="fr01" src="" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<!-- <script type="text/javascript" src="/common/cab/InnoFD.js" ></script> -->
<script type="text/javascript" src="/common/js/default.js?ver=3"></script>
<script type="text/javascript" src="/common/js/tree.js?ver=3"></script>
<script type="text/javascript" src="/common/js/sortTable.js?ver=3"></script>
<script type="text/javascript" src="/common/js/commonCode.js?ver=3"></script>

<script type="text/javascript" src="/imageViewer/ZoomifyImageViewerPro-min.js?ver=3"></script>
<script type="text/javascript" src="/js2/common.js?ver=3"></script>






<script type="text/javascript" src="/js2/board/BoardViewN.js?version=20191111"></script>

<script type="text/javascript" src="/common/js/jcalendar.js?ver=3"></script>
<script type="text/javascript" src="/common/js/flowplayer-3.2.6.min.js?ver=3"></script>


<!-- <script type="text/javascript" src="/js/jquery.mb.browser.min.js"></script>
<script type="text/javascript" src="/js/jquery.printElement.min.js"></script> -->


<script type="text/javascript"></script>
<link rel="stylesheet" href="/js/bxslider/dist/jquery.bxslider.css?ver=3">
<script src="/js/bxslider/dist/jquery.bxslider.min.js?ver=3"></script>


<script type="text/javascript" src="/js2/cmm/inc/Inc.js?ver=3"></script>

<!-- 미얀마어 메인페이지 -->
<div id="header">
    <div class="top">
        <div>
            <a href="/" class="logo"><img src="/MCHMS/mams/mchms_logo_small.svg" alt="MCHMS"  width="35px;" height="35px;"></a>
            <div>
                <!--
                <div id="TOP_MUESUM" class="select">
                <a href="#a"><span> Business management</span></a>
                <div id="TOP_MUESUM_CODE"></div>-->
                <form id="museumForm" name="museumForm" method="post" >
                    <input type="hidden" name="TOP_MUESUM_CODE" value="" />
                    <input type="hidden" name="TOP_MUESUM_NAME" value="" />
                </form>
                <!-- </div> -->




                <div th:if="${session.value == null}">
                    <select id="SLT_USER_LANG" name="USER_LANG" onchange="selectUserLang();">
                        <option value="EN">English</option>
                        <option value="MY">မြန်မာ</option>
                    </select>
                    <a href="/MCHMSLogin" class="btnLogout on" ><span id="spanLogout">Login</span></a>
                </div>
                <div th:unless="${session.value == null}">
                    <a href="/Mypage" class="MyPage">MY PAGE</a>
                    <span class="info" id="spanWelcome" th:text="|Welcome to ${session.id}|"></span>&nbsp;
                    <select id="SLT_USER_LANG" name="USER_LANG" onchange="selectUserLang();">
                        <option value="EN">English</option>
                        <option value="MY">မြန်မာ</option>
                    </select>
                    <a href="/MCHMSLogout" class="btnLogout on" ><span id="spanLogout">Logout</span></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h1>
                <a href=""><img src="/MCHMS/mams/mchms_logo_02.svg" alt="MAMS Myanmar Asset Management System"></a>
            </h1>
            <form action = "/MCHMSSearch_process/?City_id={{City_id}}" method = "post" enctype="multipart/form-data" id="AdvsearchFrom" name="AdvsearchFrom">
                <input type="hidden" id="SRCH_MODE" name="SRCH_MODE">
                <input type="hidden" id="SELECT_DEPTH" name="SELECT_DEPTH">
                <input type="hidden" id="StrMODE" name="StrMODE" value="MORE">
                <input type="hidden" id="TSSEARCH" name="USER_TSGROUP_CODE" value="PS01001001_000000013">
                <input type="hidden" id="USER_TSGROUP_CODE" name="USER_TSGROUP_CODE" value="PS01001001_000000013">
                <input type="hidden" id="USER_LGROUP_CODE_SEQ" name="USER_LGROUP_CODE_SEQ" value="20190730193223383814_000000102">
                <input type="hidden" id="STR_TOP_SEARCH_MUESUM_CODE" name="STR_TOP_SEARCH_MUESUM_CODE" value="">

                <!-- isKang 추가 190628 -->
                <input type="hidden" name="LANG" value="EN">
                <input type="hidden" id="STR_SRCH_MUESUM_CODE" name="STR_SRCH_MUESUM_CODE" value="">


                <div class="searchBox">
                    <input type="text" id="TOP_TOPWORD" name="TOP_TOPWORD" onkeypress="speCharBlock(this)" value="">
                    <a href="#" onclick="Search();" class="serch_icon"><img src="/MCHMS/mams/serch_icon_06.svg" alt="Search Btn" style="height: 22px;">Search</a>
                    <script>

						function Search() {
							SearchKey = $("#TOP_TOPWORD").val();

							var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi
							str = SearchKey.replace(regExp,"");
							if(str == ""){
								path = "http://mchms.net:8080/MCHMSSearch/?&Keyword=" + SearchKey;


								window.location.href = path;
							}else if(str.length < 2) {
								alert("검색어를 두 글자 이상으로 입력해 주세요.");

							}else{
								var ESearchKey = encodeURI(SearchKey);

								path = "http://mchms.net:8080/MCHMSSearch/?&Keyword=" + ESearchKey;


								window.location.href = path;
							}
						}
						$('#TOP_TOPWORD').keypress(function(event){
							if ( event.which == 13 ) {
								Search();
								return false;
							}
						});
					</script>

                    <a href="#layerPopup" class="btnSearch"><img src="/MCHMS/mams/serch_icon_07.svg" alt="" style="height: 22px;">Advanced</a>
                    <script>
						$('.btnSearch').click(function(){
							var $href = $(this).attr('href');
							layer_popup($href);
						});
						function layer_popup(el){

							var $el = $(el);        //레이어의 id를 $el 변수에 저장
							var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

							isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

							var $elWidth = ~~($el.outerWidth()),
									$elHeight = ~~($el.outerHeight()),
									docWidth = $(document).width(),
									docHeight = $(document).height();


							$el.find('a.btn-layerClose').click(function(){
								isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
								return false;
							});

							$('.layer .dimBg').click(function(){
								$('.dim-layer').fadeOut();
								return false;
							});

						}
					</script>
                </div>
                <div id="detailSearchLayer" class="layerPopup">
                    <div>
                        <p class="tit">Advanced search</p>
                        <div class="content">
                            <table class="tbType01 type2">
                                <colgroup>
                                    <col style="width:160px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr id="trSrchTitleEn">
                                    <th>Title(En)</th>
                                    <td>
                                        <input type="text" class="sizeL" id="SRCH_TITLE" name="SRCH_TITLE" value="" onkeypress="speCharBlock(this)">

                                    </td>
                                </tr>
                                <tr id="trSrchRemark1En">
                                    <th>Remark1(En)</th>
                                    <td>
                                        <input type="text" class="sizeL" id="SRCH_REMARK1" name="SRCH_REMARK1" value="" onkeypress="speCharBlock(this)">

                                    </td>
                                </tr>
                                <tr id="trSrchRemark2En">
                                    <th>Remark2(En)</th>
                                    <td>
                                        <input type="text" class="sizeL" id="SRCH_REMARK2" name="SRCH_REMARK2" value="" onkeypress="speCharBlock(this)">

                                    </td>
                                </tr>
                                <tr>
                                    <th>Registrant</th>
                                    <td>
                                        <input type="text" class="sizeL" id="SRCH_REG" name="SRCH_REG" value="" onkeypress="speCharBlock(this)">

                                    </td>
                                </tr>
                                <tr>
                                    <th>Registration date</th>
                                    <td>
                                        <script>
											$(function() {

												SRCH_REG_SRT_DATE = $("#SRCH_REG_SRT_DATE").datepicker({
													showOn: "button",
													buttonImage: "/MCHMS/btn_calender.gif",
													buttonImageOnly: true,
													buttonText: "Select date",
													dateFormat: 'yy-mm-dd',
													beforeShow: customRangeStart,
													maxDate: null,
													defaultDate: "+1w",
													changeMonth: true,
													changeYear: true
												}),
														SRCH_REG_END_DATE = $("#SRCH_REG_END_DATE").datepicker({
															showOn: "button",
															buttonImage: "/MCHMS/btn_calender.gif",
															buttonImageOnly: true,
															buttonText: "Select date",
															dateFormat: 'yy-mm-dd',
															beforeShow: customRange,
															defaultDate: "+1w",
															changeMonth: true,
															changeYear: true
														});

												function customRange(input) {
													return {
														minDate: (input.id == "SRCH_REG_END_DATE" ? $("#SRCH_REG_SRT_DATE").datepicker("getDate") : new Date())
													};
												}
												function customRangeStart(input) {
													return {
														maxDate:(input.id == "SRCH_REG_SRT_DATE" ? $("#SRCH_REG_END_DATE").datepicker("getDate") : null)
													};
												}
											});
										</script>
                                        <div class="calBox">
                                            <input type="text" size="6" readonly="readonly" id="SRCH_REG_SRT_DATE" name="SRCH_REG_SRT_DATE">
                                        </div>
                                        ~
                                        <div class="calBox">
                                            <input type="text" size="6" readonly="readonly" id="SRCH_REG_END_DATE" name="SRCH_REG_END_DATE">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Relic number</th>
                                    <td>
                                        <input type="text" class="sizeS" name="SRCH_RELIC_NUM" id="SRCH_RELIC_NUM" value="" size="6" onkeypress="speCharBlock(this)">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btnC">
                                <input type="hidden" name="TOPMCSJGBNC_CODE" id="TOPMCSJGBNC_CODE">
                                <input type="hidden" name="TOPMCSJGBNC_LV" id="TOPMCSJGBNC_LV">
                                <input type="hidden" name="TOPCODECOPY" id="TOPCODECOPY">
                                <a href="#" onclick="adv_Search();" class="btn type2 btnB">Search</a>
                                <script>
									function adv_Search(){

										AdvsearchFrom.submit();

									}
								</script>
                                <a href="javascript:reset();" class="btn type2">Reset</a>
                            </div>
                        </div>
                        <a href="#a" class="close"><img src="/MCHMS/btn/close.png" alt=""></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

	$("#SLT_USER_LANG").val("").prop("selected", true);
	if(getLang().toLowerCase().indexOf("my") == -1){ //언어 != 미얀마이면 isKang 190619
		$('#SLT_USER_LANG').val("EN").prop("selected", true);
		$('#spanMypage').text("My Page");
		$('#spanMoveMngt').text("Move manager");
		$('#spanRegMtrl').text("Article registration");
		$('#spanRegBox').text("Registration Box");
		$('#spanBookmark').text("Bookmark");
		$('#spanDown').text("Downloaded");
		$('#spanEditPri').text("Edit personal info.");
		$('#spanTalk').text("Conversation with manager");
		$('#spanNtc').text("Notice");
		$('#spanErr').text("Error board");
	}else{
		$('#SLT_USER_LANG').val("MY").prop("selected", true);
	}
	function goMain(){
		var url = '';
		if(url.indexOf('unione') > -1)
			frm = $('#searchFrom');
		else{
			if($('#listForm').length > 0) frm = $('#listForm');
			if($('#SearchForm').length > 0) frm = $('#SearchForm');
		}
		frm.attr("action",_CONTEXT_PATH + "/main.do");
		frm.submit();
	}
	function selectUserLang(){
		var userLang = $('#SLT_USER_LANG').val();
		setCookie('DAMS_USER_LANG', userLang, 3650); /* 10년 뒤 만료됨 */
		$('input[name="LANG"]').attr('value', userLang);
		if($("#pageId").val() == "BoardList" && $("#listForm #SRCH_MODE").val() != "상세검색"){
			console.log("BoardList");
			console.log(" ");
			if("" != "" && "" != ""){
				boardpagemove("", "");
			}else{
				console.log("goList");
				goList("/user/board/BoardList.do");
			}
		}else if($("#pageId").val() == "userBoardReg"){
			console.log("userBoardReg");
			BoardWrite();
		}else if($("#pageId").val() == "BoardView"){
			console.log("BoardView");
			$("input[name^='Str']").remove(); //StrStr~로 꼬임 isKang 190626(근본적으로 문제해결을 안하고 땜빵으로 해놨네.ㅜㅡ)
			var frm = $('#listForm');
			frm.attr("method","post");
			frm.attr("action",_CONTEXT_PATH + "/user/board/BoardView.do");
			frm.submit();
		}else if($("#pageId").val() == "BoardViewModfiy"){
			console.log("BoardViewModfiy");
			var frm = $('#boardListForm');
			frm.attr("method","post");
			frm.attr("action",_CONTEXT_PATH + "/user/board/BoardViewModfiy.do");
			frm.submit();
		}else if(window.location.href.indexOf("/user/imgSearch.do") > -1){
			imgSearch();
		}else if(window.location.href.indexOf("/user/docSearch.do") > -1){
			pdfSearch();
		}else if(window.location.href.indexOf("/user/movieSearch.do") > -1){
			aviSearch();
		}else if(window.location.href.indexOf("/user/Search.do") > -1 && $("#listForm #SRCH_MODE").val() == "상세검색"){
			topSearchinit('ON');
			setTimeout(function() {
				Searchchk('st');
			}, 1500);
		}else if(window.location.href.indexOf("/user/Search.do") > -1 && $("#SearchForm #SRCH_MODE").val() == "상세검색"){
			topSearchinit('ON');
			setTimeout(function() {
				Searchchk('st');
			}, 1500);
		}else{
			console.log("reload");
			location.reload();
		}
	}
</script>
<script type="text/javascript" >
	$.post(_CONTEXT_PATH + "/user/mypage/getApprover_menu.do", $('#searchFrom').serialize(), function(result) {
		if("Y"==result.APPROVER){
			if(getLang().toLowerCase().indexOf("my") == -1){ //언어 != 미얀마이면 isKang 190619
				/* $('#APPROVER_CHK').html("<a href=\"javascript:fileauthList()\"  class=\"strong tn_3\"> Request approval "+result.APPROVER_COUNT+"s</a>"); */
			}else{
				/* $('#APPROVER_CHK').html("<a href=\"javascript:fileauthList()\"  class=\"strong tn_3\"> 승인요청 "+result.APPROVER_COUNT+"건</a>"); */
			}
		}else{
			$("select[name=mypage] option[value=4]").remove();
		}
		if($.trim(result.TSGROUP_CODE)!=""){
			$('#TOP_MUESUM').show();
			var HTML="<ul>";
			//박물관 리스터
			$.each(result.MUSEUMLIST, function(i) {
				HTML += "\t<li><a href=\"javascript:changeMuseum('"+result.MUSEUMLIST[i].MUSEUM_CODE+"', '"+result.MUSEUMLIST[i].MUSEUM_NAME+"');\">"+result.MUSEUMLIST[i].MUSEUM_NAME+"</a></li>";
			});
			HTML+="</ul>";
			$('#TOP_MUESUM_CODE').html(HTML);
		}
		var SELECT ="";
		var SELECTHTML = "";
		$.each(result.TOPMCSJGBNC1, function(i) {
			SELECT += "<option value=\"" + result.TOPMCSJGBNC1[i].CODE + "\">" + result.TOPMCSJGBNC1[i].NAME + "</option>";
		} );
		$('#TOPMCSJGBNC1').html(SELECT);
		SELECT ="";
		$.each(result.TOPMCSJGBNC2, function(i) {
			if($('#TOP_MUESUM_CODE').val() ==result.TOPMCSJGBNC2[i].CODE){
				SELECTHTML += "  selected=\"selected\"  ";
			}else{
				SELECTHTML ="";
			}
			SELECT += "<option value=\"" + result.TOPMCSJGBNC2[i].CODE + "\""+SELECTHTML+">" + result.TOPMCSJGBNC2[i].NAME + "</option>";
		} );
		$('#TOPMCSJGBNC2').html(SELECT);
		SELECT ="";
		$.each(result.TOPMCSJGBNC3, function(i) {
			SELECT += "<option value=\"" + result.TOPMCSJGBNC3[i].CODE + "\">" + result.TOPMCSJGBNC3[i].NAME + "</option>";
		} );
		$('#TOPMCSJGBNC3').html(SELECT);
	}, "json");
</script>
<div id="inlineContent" style=" display:none;" >
    <img src="" alt="Loading" />
    <div style="margin-top:10px;" id="dot01">Loading...</div>
</div>
<div class="subContent">
<div id="divpop" style="z-index:150; position:absolute; display:none;" onmousedown="ddInit()" onmousemove="dd()" onmouseup="stopdrag()">
    <div style="position:absolute; top:0px; left:0px; width:100%; height:38px;">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" background="images/pop_top_bg2.gif">
            <tbody>
            <tr>
                <td width="120"><img id="popTitle" src=""></td>
                <td class="menu1"><span id="textTitle"></span>&nbsp;</td>
                <td width="40" align="center" background="images/pop_top_bg2.gif"><input type="button" value="X" onclick="noCheck2()" style="width:20px"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
         var data = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
		  /*<![CDATA[*/

                /*[# th:each="cc : ${UsersClassificationCount}"]*/
                [ /*[[${cc.large}]]*/,  /*[[${cc.count}]]*/ ],
          /*[/]*/

        /*]]>*/
				['abc',    0]

        ]);
        var options = {
          title: '  items Classification ',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
</script>
<div class="conts" style="width:100%;">

    <div id="divContsTtl">
        <h4 style="text-align:center;"><strong style="font-size: 25px; line-height: 60px; margin-top: -10px;">
            MY PAGE</strong>
        </h4>

    </div>
<div style="width:100%;">
    <div><div style="position: absolute; margin-top: 2.5%; left: 22%;"><strong style="font-size:1.2em;text-align:center;">My Info.</strong></div>
    <table class="tbType01 type2" style="width: 48%; margin-bottom: 50px;float:left; margin-top:8%;">
        <tbody id="WriteUi">
        <tr>
            <th>ID</th>
            <td colspan="3" th:text="${userinfo.id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td colspan="3" th:text="${userinfo.name}"></td>
        </tr>
        <tr>
            <th>E-MAIL</th>
            <td colspan="3" th:text="${userinfo.email}"></td>
        </tr>
        <tr>
            <th>NICKNAME</th>
            <td colspan="3" th:text="${userinfo.nickname}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <div style="width: 48%;float: right; margin-right: -30px;"><p style="height: 10%;margin-top: 5%;text-align:center;"><strong style="font-size:1.2em;text-align:center;">Input Analysis</strong></p>
        <div id="piechart_3d" style="width: 100%;height: 300px; margin-top: -6%;"></div>
        <div style="width: 100%;">
            <table class="tbType01 type2" style="width: 80%;margin: 0 auto;">
                <tbody id="WriteUi" th:each="UserClassificationStatistics : ${UsersClassificationCount}">
                <tr th:if="${UserClassificationStatistics.count != 0}">
                    <th colspan="3" th:text="${UserClassificationStatistics.large}"></th>
                    <td colspan="3" th:text="${UserClassificationStatistics.count}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="btnC" style="width:50%;"><a class="btn btnB2 btnB2_hover type3" onclick = "testMj2()" style="display:contents; width: 100px; margin-bottom: 50px;margin-top: 2%;">Create</a></div>
    <div class="floatBox" style="margin-top: 225px;"><p style="margin-bottom: 0px;text-align:center;"><strong style="font-size:1.2em;text-align:center;">Input List</strong></p>
        <div class="flBox">
            <div class="cnb_1" id="tottalcnt"><span style="font-weight:bold;color:#999">items total</span></div>
        </div>
        <div class="frBox">
            <span id="REG_BTN" class="REG_BTN" style="display: none;"></span>
        </div>
    </div>
<div class="board_box" style="margin-top: -35px;">
    <table id="data_sheet01" cellpadding="0" cellspacing="0" border="0" class="tablesorter" style="border-top: 2px solid #646464; border-bottom:1px solid #dcdcdc; margin-top:45px !important;">
        <colgroup id="setCol"><col style="width:4%"><col style="width:4%"><col><col><col><col><col><col><col><col></colgroup>
        <thead id="field1" style ="background-color:#f6f7f7"><tr>
            <th>Num</th>
            <th id ="serial"style="border-top:none; border-bottom: none;  border-left: 1px solid #dcdcdc; height:50px; border-right: 1px solid #dcdcdc; color: #333; text-align: center; vertical-align: middle; cursor:pointer;">
                <button type="button" class="sortbutton">
                    Serial
                </button>
            </th>
            <th  style="border-top:none; border-bottom: none; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc;  color: #333; text-align: center; vertical-align: middle;">
                <button type="button" class="sortbutton">
                    Region
                </button>
            </th>
            <th style="border-top:none; border-bottom: none;  border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; color: #333; text-align: center; vertical-align: middle;">
                <button type="button" class="sortbutton">
                    Classification
                </button>
            </th>
            <th id ="title" style="border-top:none; border-bottom: none;  border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc;  color: #333; text-align: center; vertical-align: middle; cursor:pointer;">
                <button type="button" class="sortbutton">
                    Title
                </button>
            </th>
            <th id ="reg" style="border-top:none; border-bottom: none;  border-left: 1px solid #dcdcdc;   color: #333; text-align: center; vertical-align: middle; cursor:pointer;" >
                <button type="button" class="sortbutton">
                    Registration date
                </button>
            </th>
        </tr></thead>

        <tbody id="list1">
            <tr th:each="dataDomain : ${lists}" th:onclick="'location.href = \'' + @{/MCHMSView/?ID={ID}(ID=${dataDomain.id})} + '\''" style="height:50px;border-top:none; border-bottom: none; padding:14px 0; color: #333; text-align: center; vertical-align: middle; cursor:pointer;">
                <td class="FILE_NUM"><div th:text="${dataDomain.index}"></div></td>
                <td class="FILE_CNT"><div style="width: 300px;" th:text="${dataDomain.serialNumber}"></div></td>
                <td class="FIELD_CATEGORY" title="Monuments"><div th:text="${dataDomain.ciResult}"></div></td>
                <td class="FIELD_TITLE elli"><div th:text="${dataDomain.clResult}"></div></td>
                <td class="FIELD_REGISTER"><div th:text="${dataDomain.Title}"></div></td>
                <td class="FIELD_REG_DATE"><div th:text="${dataDomain.registrationDate}"></div></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>